@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

:root{
    --primary-clr: #fff;
    --secondary-clr: rgb(66, 139, 235);
    --background-clr: rgb(231, 222, 222);
    --primary-clr-darker: rgb(32, 84, 153);
    --paragraph-clr: #6e6969;
}

body {
    font-family: roboto;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

/* sidebar configs */

.sidebar {
  background-color: var(--secondary-clr);
  color: white;
  font-weight: 500;
  grid-area: sidebar;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.3rem;
  overflow: auto;
}

.nav-main-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.title-sidebar {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.sidebar ul  {
  list-style-type: none;
  padding: var(--ul-valley);
  margin: 1rem 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: var(--ul-valley);
}

.title-sidebar span::before,
.nav-pages-sidebar ul li::before,
.nav-footer-sidebar ul li::before {
  display: inline-block;
  width: 3ch;
  vertical-align: middle;
  margin-right: 1.5ch;
}

.title-sidebar span::before {
  content: url("./assets/view-dashboard.svg");
  margin-right: 0.5ch;
  width: 4ch;
}
.nav-home::before {
    content: url("./assets/home.svg");
}
.nav-prof::before {
    content: url("./assets/account-box.svg");
}
.nav-msgs::before {
    content: url("./assets/message-reply.svg");
}
.nav-hist::before {
    content: url("./assets/history.svg");
}
.nav-task::before {
    content: url("./assets/file-multiple.svg");
}
.nav-comm::before {
    content: url("./assets/google-circles-communities.svg");
}
.nav-sett::before {
    content: url("./assets/cog.svg");
}
.nav-supp::before {
    content: url("./assets/cloud-question.svg");
}
.nav-priv::before {
    content: url("./assets/shield-check.svg");
}

.sidebar li {
    padding: 0.5rem;
}
.sidebar li:hover {
  border-radius: 10px;
  background-color: var(--primary-clr-darker);
  cursor: pointer;
}

/* header configs */

.header {
  grid-area: header;

  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1.5fr;
}

.search-bar {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
}

.search-bar input {
  flex: 1;
  height: 21px;
  border-radius: 21px;
  background-color: #E2E8F0;
  border: none;
  padding: 0.2rem;
}

.profile-bar {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
  justify-content: end;
}

.profile-pic {
  border-radius: 50%;
  border: 1px solid var(--primary-clr-darker);
}

.greeting {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 3rem;

  font-weight: 600;
}

.greeting span {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

.action-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.action-bar button {
  height: min-content;
  padding: 6px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: var(--secondary-clr);
}

.action-bar button:hover {
  background-color: var(--primary-clr-darker);
  cursor: pointer;
}

/* main content configs */

.main {
  grid-area: main;
  background-color: var(--background-clr);
  padding: 1rem;
  box-shadow: inset 5px 5px 10px -5px gray;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  overflow-y: scroll;
}

.main-projects {
  grid-row: 1 / -1;
}

.main-div h1 {
  margin: 0;
  font-size: 1.6rem;
}

.main-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.mc-content {
  flex: 1;
}

.main-items {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-auto-rows: max-content;
  overflow: auto;
  gap: 20px 20px;
}

.ma-items, .mt-items, .mp-item {
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #c6c6c6;
  z-index: 2;
}

.mp-item {
  border-left: 5px solid var(--primary-clr-darker);
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-between;
}

.mp-buttons {
  img {
    width: 3ch;
  }
  button {
    background-color: white;
    border: none;
    *:hover {
      cursor: pointer;
      background-color: #c6c6c6;
      border-radius: 5px;
    }
  }
  display: flex;
  justify-content: end;
  gap: 1ch;
}

.mp-text {
  h2 {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.8rem;
    color: var(--paragraph-clr);
    font-weight: 500;
  }
}

.ma-items {
  padding: 1.5rem;
  font-size: 0.7em;
  h2 {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  hr {
    margin: 10px auto;
    color: #ffffff;
    width: 100%;
    height: 1px;
  }
  p {
    color: var(--paragraph-clr);
    font-weight: 500;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.mt-items {
  padding: 0.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.trend {
  font-size: 0.8em;
  img {
    width: 5ch;
    display: inline-block;
    border-radius: 50%;
  }
  .trend-info {
    vertical-align: middle;
    display: inline-block;
    .trend-msg {
      display: block;
      color: var(--paragraph-clr);
    }
  }
  display: flex;
  align-items: center;
  gap: 1.2rem;
}